@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #ffffff;
    --background-secondary: #e0e0e0;
    --accent-primary: #d32a30;
    --accent-secondary: #3e4095;
    --accent-primary-light: #ff5263;
  }
}

@theme inline {
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
  --color-accent-primary-light: var(--accent-primary-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
}

body {
  background: var(--background-primary);
  color: var(--foreground);
  font-family: manrope, Arial, Helvetica, sans-serif;
}
