@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/thumbs";
@import "swiper/css/free-mode";

:root {
  --background-primary: #f1efef;
  --background-secondary: #e3eaf1;
  --accent-primary: #d32a30;
  --accent-secondary: #282bc0;
  --accent-primary-light: #ff5263;
  --accent-primary-dark: #8d1f2a;
  --footer-dropdown-dir: 20px;
}

@media screen and (width <= 1100px) {
  :root {
    --footer-dropdown-dir: -20px;
  }
}

@theme inline {
  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);
  --color-accent-primary-light: var(--accent-primary-light);
  --color-accent-primary-dark: var(--accent-primary-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
}

body {
  background: var(--background-primary);
  color: var(--foreground);
  font-family: manrope, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

aside::-webkit-scrollbar {
  width: 0;
}

.swiper-over-one_per_view {
  opacity: 0;
  height: 100px;
  transition: opacity 0.3ms;
}

.thumb-swiper .swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(150, 150, 150, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.thumb-swiper .swiper-slide-thumb-active::after {
  opacity: 1;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@utility animate-marquee {
  animation: marquee 30s linear infinite;
}
